*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}   
    
body{
    font-family: Roboto, sans-serif;
}
.hero{
    background: #1F2937;
    padding: 16px 0 64px;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    display: flex;
    gap:16px;
    list-style: none;
    margin: 0;
    padding: 0;

}
.nav a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}



